<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
  <div id='particle-js'>
    <div class="navigation-bar">
      <nav style="z-index: 1;">
        <div class="menu-icon">
          <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="menu">
          <ul>
            <li><button class="navbtn" id="home">Home</button></li>
            <li><button class="navbtn" id="about">About</button></li>
            <li><button class="navbtn" id="project">Project</button></li>
            <li><button class="navbtn" id="blog">Blog</button></li>
            <li><button class="navbtn" id="contact">Contact</button></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="maindiv">
      <h1
        style="color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
        <span class="Hi">Hello, I'm</span>
        </br>
        <span class="pc"></span>
        <span class="cursor">_</span>
      </h1>
      <div>
        <button class="viewworkbtn">View My work <i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
  <section id='aboutsec'>
    <h1 class="aboutheading">ABOUT</h1>
    <div>
      <div class="row" style="margin: 50px 100px 100px 100px;">
        <div class="col-xs-6 col-sm-3 shape">

          <h1 style="text-align: center;font-size: 100px;color:white;"><i class="fas fa-tachometer-alt"></i></h1>
          </br>
          <h2>Fast</h2>
          <h6>Fast load times and lag free interaction, my highest priority.</h6>

        </div>
        <div class="col-xs-6 col-sm-3 shape">

          <h1 style="text-align: center;font-size: 100px;color: white"><i class="fas fa-tablet-alt"></i>
          </h1>
          </br>
          <h2>Responsive</h2>
          <h6>My layouts will work on any device, big or small.</h6>


        </div>
        <div class="col-xs-6 col-sm-3 shape">

          <h1 style="text-align: center;font-size: 100px;color: white"><i class="fas fa-lightbulb"></i>
          </h1>
          </br>
          <h2>Intuitive</h2>
          <h6>Strong preference for easy to use, intuitive UX/UI.</h6>


        </div>
        <div class="col-xs-6 col-sm-3 shape">

          <h1 style="text-align: center;font-size: 100px;color: white"><i class="fas fa-rocket"></i></h1>
          </br>
          <h2>Dynamic</h2>
          <h6>Websites don't have to be static, I love making pages come to life.</h6>


        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col" style="text-align: center;font-family: 'Roboto Mono', monospace;margin:0px 50px 0px 50px;">
          <img class='parthimg' src="/images/parth.jpg" />
          </br>
          <h3 style="margin-top: 50px;">
            Who's this guy ?
          </h3>
          <h6 style="margin-top: 30px;">
            I'm a full-stack Developer in INDIA .
            I help designers, small agencies and businesses bring their ideas to life. Powered by Figma, VS Code and
            coffee, I turn your requirements into CMS-ified and ecommerce-ified websites - on time and on budget.
          </h6>
          <h4 style="margin-top: 20px;">
            Got any questions? Contact me.
          </h4>
        </div>

      </div>
    </div>

  </section>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/EasePack.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
  <script src="/javascripts/particle-script.js"></script>
  <script src="/javascripts/gsap.js"></script>
</body>

</html>